<main class="main splash container content full grid">
  <h1 class="splash__title center">MoneyCompass</h1>

  <div class="splash__actions center">
    <%= link_to "Log in", new_user_session_path, class: "btn btn--primary" %>
    <%= link_to "Sign up", new_user_registration_path, class: "lnk lnk--txt" %>
  </div>
</main>
